.border{
 
    margin: 3px;
    gap: 2;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}
.items-center{
    align-content: center;
}
.bg-color{
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1);
}
.bg-grey{
    background-color: #121212;
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 10px;
}
/* ===== Chrome, Edge, Safari ===== */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #121212;   /* dark background */
}

::-webkit-scrollbar-thumb {
    background: #2ecc71;   /* green accent */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #27ae60;
}

/* ===== Firefox ===== */
* {
    scrollbar-width: thin;
    scrollbar-color: #2ecc71 #121212;
}
